07-bpel/FoodOrderProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:tns="http://example.com/foodorder"
                  xmlns:rest="http://food_delivery_app.nswi145.betse.mff/"
                  xmlns:pay="http://payment_gateway.nswi145.betse.mff/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/foodorder">
    <wsdl:import namespace="http://food_delivery_app.nswi145.betse.mff/" location="restaurantOrder.wsdl"/>
    <wsdl:import namespace="http://payment_gateway.nswi145.betse.mff/" location="paymentResponse.wsdl"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/foodorder">
            <xsd:element name="OrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerName" type="xsd:string"/>
                        <xsd:element name="foodItems" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="name" type="xsd:string"/>
                                    <xsd:element name="quantity" type="xsd:int"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                         <xsd:element name="orderId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="OrderResponse" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="OrderRequestMsg">
        <wsdl:part name="parameters" element="tns:OrderRequest"/>
    </wsdl:message>
    <wsdl:message name="OrderResponseMsg">
        <wsdl:part name="parameters" element="tns:OrderResponse"/>
    </wsdl:message>
    <wsdl:portType name="OrderPortType">
        <wsdl:operation name="placeOrder">
            <wsdl:input message="tns:OrderRequestMsg"/>
            <wsdl:output message="tns:OrderResponseMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderSoapBinding" type="tns:OrderPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="placeOrder">
            <soap:operation soapAction="http://example.com/placeOrder"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FoodOrderService">
        <wsdl:port name="OrderPort" binding="tns:OrderSoapBinding">
            <soap:address location="http://localhost:8080/ode/processes/FoodOrderProcess"/>
        </wsdl:port>
    </wsdl:service>
    <plnk:partnerLinkType name="OrderLinkType">
        <plnk:role name="OrderServiceRole" portType="tns:OrderPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RestaurantLinkType">
        <plnk:role name="RestaurantRole" portType="rest:IRestaurantOrderService"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="PaymentLinkType">
        <plnk:role name="PaymentRole" portType="pay:IPaymentResponseService"/>
    </plnk:partnerLinkType>
</wsdl:definitions>
