07-bpel/paymentResponse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://payment_gateway.nswi145.betse.mff/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://payment_gateway.nswi145.betse.mff/"
                  name="PaymentResponseServiceImplService">
    <wsdl:types>
        <xsd:schema targetNamespace="http://payment_gateway.nswi145.betse.mff/">
            <xsd:element name="paymentResponse" type="tns:paymentResponse"/>
            <xsd:element name="sendPaymentResponse" type="tns:sendPaymentResponse"/>
            <xsd:element name="sendPaymentResponseResponse" type="tns:sendPaymentResponseResponse"/>
            <xsd:complexType name="sendPaymentResponse">
                <xsd:sequence>
                    <xsd:element name="transactionId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="orderId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="status" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="sendPaymentResponseResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="tns:paymentResponse" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="paymentResponse">
                <xsd:sequence>
                    <xsd:element name="message" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="orderId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="status" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="transactionId" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="sendPaymentResponse">
        <wsdl:part name="parameters" element="tns:sendPaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="sendPaymentResponseResponse">
        <wsdl:part name="parameters" element="tns:sendPaymentResponseResponse"/>
    </wsdl:message>
    <wsdl:portType name="IPaymentResponseService">
        <wsdl:operation name="sendPaymentResponse">
            <wsdl:input message="tns:sendPaymentResponse"/>
            <wsdl:output message="tns:sendPaymentResponseResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaymentResponseServiceImplPortBinding" type="tns:IPaymentResponseService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendPaymentResponse">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaymentResponseServiceImplService">
        <wsdl:port name="PaymentResponseServiceImplPort" binding="tns:PaymentResponseServiceImplPortBinding">
            <soap:address location="http://localhost:8082/paymentResponse"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
