07-bpel/restaurantOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://food_delivery_app.nswi145.betse.mff/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://food_delivery_app.nswi145.betse.mff/"
                  name="RestaurantOrderServiceImplService">
    <wsdl:types>
        <xsd:schema targetNamespace="http://food_delivery_app.nswi145.betse.mff/">
            <xsd:element name="checkOrderStatus" type="tns:checkOrderStatus"/>
            <xsd:element name="checkOrderStatusResponse" type="tns:checkOrderStatusResponse"/>
            <xsd:element name="foodItem" type="tns:foodItem"/>
            <xsd:element name="orderRequest" type="tns:orderRequest"/>
            <xsd:element name="sendOrderRequest" type="tns:sendOrderRequest"/>
            <xsd:element name="sendOrderRequestResponse" type="tns:sendOrderRequestResponse"/>
            <xsd:complexType name="sendOrderRequest">
                <xsd:sequence>
                    <xsd:element name="orderRequest" type="tns:orderRequest" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="orderRequest">
                <xsd:sequence>
                    <xsd:element name="customerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="foodItem" type="tns:foodItem" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="orderId" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="foodItem">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="quantity" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="sendOrderRequestResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="checkOrderStatus">
                <xsd:sequence>
                    <xsd:element name="orderId" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="checkOrderStatusResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="sendOrderRequest">
        <wsdl:part name="parameters" element="tns:sendOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="sendOrderRequestResponse">
        <wsdl:part name="parameters" element="tns:sendOrderRequestResponse"/>
    </wsdl:message>
    <wsdl:message name="checkOrderStatus">
        <wsdl:part name="parameters" element="tns:checkOrderStatus"/>
    </wsdl:message>
    <wsdl:message name="checkOrderStatusResponse">
        <wsdl:part name="parameters" element="tns:checkOrderStatusResponse"/>
    </wsdl:message>
    <wsdl:portType name="IRestaurantOrderService">
        <wsdl:operation name="sendOrderRequest">
            <wsdl:input message="tns:sendOrderRequest"/>
            <wsdl:output message="tns:sendOrderRequestResponse"/>
        </wsdl:operation>
        <wsdl:operation name="checkOrderStatus">
            <wsdl:input message="tns:checkOrderStatus"/>
            <wsdl:output message="tns:checkOrderStatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RestaurantOrderServiceImplPortBinding" type="tns:IRestaurantOrderService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendOrderRequest">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkOrderStatus">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RestaurantOrderServiceImplService">
        <wsdl:port name="RestaurantOrderServiceImplPort" binding="tns:RestaurantOrderServiceImplPortBinding">
            <soap:address location="http://localhost:8082/restaurantOrder"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
